*/5 * * * * root cd /taxfix-challenge/ && /usr/local/bin/python3.6 /taxfix-challenge/upload_data.py >> /proc/1/fd/1 2>>/proc/1/fd/2
0 */2 * * * root cd /taxfix-challenge/ && /usr/local/bin/python3.6 /taxfix-challenge/visualize.py >> /proc/1/fd/1 2>>/proc/1/fd/2
